*{
    box-sizing: border-box;
}

body, h1, h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    color: #222;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: black;
    max-width: 100%;
}

/* Info */


.superinfo-bg{
    background-color: #1226b2;
    color: #FFF;

}

.superinfo{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo p, .superinfo a{
    margin: 0 10px 10px 10px;

}


.superinfo a{
    color: #FFF;
}



.menu-bg{
    background-color: #2c70ff;
}

.menu{
    max-width: 960px;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.menu a{
    color: #FFF;
}

.menu-logo a{
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a{
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover{
    color: #1226b2;
}

/* Introdução */

.introducao{
    font-size: 3em;
    line-height: 1;
    max-width: 960;
    margin: 0 auto;
    padding: 60px 10px;
}

/* Sobre */

.sobre{
    border-top: 2px solid #2c79fe;
    border-bottom: 2px solid #2c79fe;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;

}

.sobre-info{
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobre-img {
    flex: 1 1 160px;
    margin: 60px;
}

.produtos{
    max-width: 960px;
    margin: 60px auto;
}

.produtos h1{
    font-size: 1em;
    margin: 0 10px 60px 10px;
}

.produtos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item {
    flex: 1 1 125px;
    margin: 10px;
}

.produtos-item h2{
    font-size: 3em;
    color: #A4A4A4;
    background-color: #E2E2E2;
    padding: 60px 20px;
}

.purple{
    border-top: 8px solid #9900ff;
}
.pink{
    border-top: 8px solid #ea00ff;
}
.blue{
    border-top: 8px solid #006eff;
}