body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    background-color: rgb(215, 216, 216);
    display: grid;
    gap: 60px;
    justify-content: center;
    margin-top: 60px;
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
}
p, h1, h2, h3{
    margin: 0px;
}
p{
    font-size: 20px;
    line-height: 1.3;/*1.3 * 20*/
}
.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.menu a{
    background-color: #f8eddd;
    padding: 15px 30px;
    border-radius: 4px;
    color: #000;
    text-decoration: uppercase;
}
.conteudo{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*repeat(qtdd de repetição, vlr), no caso equivale -> 1fr 1fr*/
}
.introducao{
    background-color: #FFF;
    padding: 40px;
    text-align: right;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-items: end;
}

.detalhe{
    width: 60px;
    height: 4px;
    background-color: #e21;
    top: 30px;
    height: -30px;
    position:absolute;

}

.botao{
    background-color: #e21;
    color: #FFf;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
}

.subtitulo{
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 40px;
    align-self: center;

}

.vantagens{
    background-color: #FFF;
    padding: 40px;
}

.vantagens-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.vantagens-items img{
    align-self: center;
}

.vantagens-items p{
    grid-column: 2;
}

.rodape{
    background-color: #FFF;
    
}